section {
    margin: 0;
    background-color: rgb(69, 198, 227);
    align-items: center;
}

.flex-container {
    margin: 0;
    display: flex;
    justify-content: center;
  }
.card-principal {
    margin: 0;
    width: 300px;
    height: 400px;
    background-color:rgb(43, 192, 226);
    color: white;
    border-radius: 10px;
    
}

.logo {
    width:300px;
    margin-bottom: 0;
    border-radius: 10px;
}

.titulo {
    font-size: 18px;
    color: black;
    margin-top: 0;
    
}

h3 {
    margin-top: 5px;
    font-size:15px;
    color: black;
    margin-left: 8px;
}

h4 {
    font-size:10px;
    color: black;
    margin-left: 10px;
}
.btn {
    width: 90%;
    height: 35px;
    margin-left: 15px;
    font-size: 20px;
    background-color: rgb(97, 222, 97);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.card-planeta {
    width: 120px;
    height: 110%;
}

.img-arco-iris {
    margin: 0;
    width: 100%;
}