<section class="flex-container ">

    <div>
        <img class="card-planeta" src="../../assets/globodeespelho.png">
    </div>
    <div class="card-principal">
    <img class="logo" src="../../assets/imagemlolapalooza.webp" alt="" >
    <h2 class="titulo"><img src="../../assets/arco-iris.png" class="img-arco-iris"></h2>
    <h3> DRAKE | BILLIE EILISH | BLICK-182 | TAME IMPALA | ROSALÍA | LIL NAS X</h3>
    <h4>JANE'S ADDICTION | THE 1975 | ARMIN VAN BUUREN | JAMIE XX | KALI UCHIS | CLAPTONE | FRED AGAIN.. | ALISON WONDERLAND | GORGON CITY | TOVE LO | AURORA | PURPLE DISCO MACHINE | LUDMILLA</h4>
    <h3> R$ 5.000,00 - open-bar * open-food </h3>
    
    <button class="btn"><strong> COMPRAR</strong></button> 
    
    
</div>
<div>
    <img class="card-planeta" src="../../assets/planeta-nuvens.png">
</div>
</section>